
{{>layout/header}}
<main>
    <aside>
        <div class="side__icon">
            <div>영화관리</div>
        </div>

        <nav>
            <ul class="admin__info">
                <li>
                    <a href="#">영화등록</a>
                    <ul >
                        <li><a href="#">최신영화</a></li>
                        <li><a href="#">보유중인영화</a></li>
                        <li><a href="#">상영중인영화</a></li>
                        <li ><a href="#">영화배급받기</a></li>
                        <li><a href="#">영화등록하기</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="point">
                <li>
                    <a href="#">상영관관리</a>
                    <ul class="on">
                        <li class="active"><a href="#">상영관등록</a></li>
                        <li><a href="#">상영관스케줄등록</a></li>
                        <li><a href="#">좌석등록</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </aside>

    <section>
        <div class="sec__top">
            <div class="content__route">
                <div>상영관관리</div>
                <div>></div>
                <div>상영관등록하기</div>
            </div>
            <div class="content__title">
                <h3>데시보드</h3>
            </div>
        </div>
        <div class="sec__center">
            <div id="cards">

                <div class="card">
                    <div class="user-card-header">
                        <span>사용자 관리 (총 35명)</span>
                        <button class="register-btn">사용자 등록</button>
                    </div>
                    <div class="user-info">
                        <div class="user-row">
                            <span>신규 사용자 <i class="tooltip">?</i></span>
                            <span>5명</span>
                        </div>
                        <div class="user-row">
                            <span>미사용자 <i class="tooltip">?</i></span>
                            <span>34명</span>
                        </div>
                        <div class="user-row">
                            <span>기기변경 사용자 <i class="tooltip">?</i></span>
                            <span>0명</span>
                        </div>
                    </div>
                </div>

                <div class="card">Card 2</div>
                <div class="card">Card 3</div>
                <div class="card">Card 4</div>
                <div class="card two__show">
                    <div class="table__container">
                        <div class="table__top">
                            <h3>최근 회원가입</h3>
                            <button class="btn">회원관리바로가기</button>
                        </div>
                        <table>
                            <thead>
                            <tr>
                                <th>이름</th>
                                <th>아이디</th>
                                <th>레벨</th>
                                <th>이메일</th>
                                <th>접속횟수</th>
                                <th>추천인</th>
                                <th>가입일시</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>세글만</td>
                                <td>tubeweb3</td>
                                <td>일반회원</td>
                                <td>tubeweb3@gmail.com</td>
                                <td>62</td>
                                <td>tubeweb1</td>
                                <td>2020-10-04 18:05 (일)</td>
                            </tr>
                            <tr>
                                <td>두글만</td>
                                <td>tubeweb2</td>
                                <td>일반회원</td>
                                <td>tubeweb2@gmail.com</td>
                                <td>725</td>
                                <td>admin</td>
                                <td>2020-10-04 18:05 (일)</td>
                            </tr>
                            <tr>
                                <td>한글만</td>
                                <td>tubeweb1</td>
                                <td>가맹점</td>
                                <td>tubeweb1@gmail.com</td>
                                <td>821</td>
                                <td>admin</td>
                                <td>2020-10-04 18:04 (일)</td>
                            </tr>

                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="card two__show"><div class="table__container">
                    <div class="table__top">
                        <h3>최근 회원가입</h3>
                        <button class="btn">회원관리바로가기</button>
                    </div>
                    <table>
                        <thead>
                        <tr>
                            <th>이름</th>
                            <th>아이디</th>
                            <th>레벨</th>
                            <th>이메일</th>
                            <th>접속횟수</th>
                            <th>추천인</th>
                            <th>가입일시</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>세글만</td>
                            <td>tubeweb3</td>
                            <td>일반회원</td>
                            <td>tubeweb3@gmail.com</td>
                            <td>62</td>
                            <td>tubeweb1</td>
                            <td>2020-10-04 18:05 (일)</td>
                        </tr>
                        <tr>
                            <td>두글만</td>
                            <td>tubeweb2</td>
                            <td>일반회원</td>
                            <td>tubeweb2@gmail.com</td>
                            <td>725</td>
                            <td>admin</td>
                            <td>2020-10-04 18:05 (일)</td>
                        </tr>
                        <tr>
                            <td>한글만</td>
                            <td>tubeweb1</td>
                            <td>가맹점</td>
                            <td>tubeweb1@gmail.com</td>
                            <td>821</td>
                            <td>admin</td>
                            <td>2020-10-04 18:04 (일)</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                </div>
                <div class="card two__show">
                    <div class="table__container"></div>
                    <div class="table__top">
                        <h3>최근 회원가입</h3>
                        <button class="btn">회원관리바로가기</button>
                    </div>
                    <table>
                        <thead>
                        <tr>
                            <th>이름</th>
                            <th>아이디</th>
                            <th>레벨</th>
                            <th>이메일</th>
                            <th>접속횟수</th>
                            <th>추천인</th>
                            <th>가입일시</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>세글만</td>
                            <td>tubeweb3</td>
                            <td>일반회원</td>
                            <td>tubeweb3@gmail.com</td>
                            <td>62</td>
                            <td>tubeweb1</td>
                            <td>2020-10-04 18:05 (일)</td>
                        </tr>
                        <tr>
                            <td>두글만</td>
                            <td>tubeweb2</td>
                            <td>일반회원</td>
                            <td>tubeweb2@gmail.com</td>
                            <td>725</td>
                            <td>admin</td>
                            <td>2020-10-04 18:05 (일)</td>
                        </tr>
                        <tr>
                            <td>한글만</td>
                            <td>tubeweb1</td>
                            <td>가맹점</td>
                            <td>tubeweb1@gmail.com</td>
                            <td>821</td>
                            <td>admin</td>
                            <td>2020-10-04 18:04 (일)</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>


        </div>
    </section>


</main>
<!-- Bootstrap JS, jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
<script>
    // Get all list items with submenus
    const menuItems = document.querySelectorAll('aside nav ul li a');

    // Loop through all the menu items and add click event listeners
    menuItems.forEach(item => {
        item.addEventListener('click', (e) => {
            // Prevent default behavior of the link
            e.preventDefault();

            // Get the next sibling (which should be the submenu)
            const submenu = item.nextElementSibling;

            // Toggle the "on" class to show or hide the submenu
            if (submenu.classList.contains('on')) {
                submenu.classList.remove('on');
            } else {
                submenu.classList.add('on');
            }
        });
    });




</script>


</body>
</html>