<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>보유중인 영화</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/admin/header.css">
    <style>
        @media (min-width: 1200px) {

            .container,
            .container-lg,
            .container-md,
            .container-sm,
            .container-xl {
                max-width: 2000px;
            }
        }

        /* Sidebar styles */
        aside {
            width: 250px;
        }

        aside .side__icon {
            font-weight: bold;
            font-size: 18px;
            margin-bottom: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
        }

        aside nav ul {
            margin-bottom: 20px;
        }

        aside nav ul li {
            margin-bottom: 10px;
        }

        aside nav>ul>li>a {
            display: block;
            background-color: #f6f6f6;
            border-top: 1px solid #cfcfcf;
            padding: 0 0 0 17px;
            font-size: 12px;
            line-height: 2.8;
            font-weight: 600;
            vertical-align: middle;
            cursor: pointer;
        }

        aside nav ul li ul {
            display: none;
            margin-top: 10px;
        }

        aside nav ul li ul.on {
            display: block;
        }

        aside nav ul li ul li {
            background-color: #fff;
        }

        aside nav ul li ul li.active a {
            color: red;
        }

        aside nav ul li ul li a {
            font-size: 13px;
            color: #555;
            background-color: #fff;
        }

        aside nav ul li ul li a:hover {
            background-color: #eaeaea;
        }

        /* ------------------------------------  */

        main {
            display: flex;
        }

        main section {
            flex: 1;
            min-height: 700px;
            border-left: 1px solid #ccc;
            padding-bottom: 100px;
            background-color: #ccc;
        }

        .sec__top {
            background-color: #fff;
        }

        .content__route {
            border-bottom: 1px solid #d7d7d7;
            margin-left: 16px;
            padding-left: 24px;
            color: #666;
            background: #fff;
            line-height: 28px;
            display: flex;
            justify-content: flex-start;
            gap: 20px;
        }

        .content__route div {
            font-size: 11px;
        }

        .content__title {
            position: relative;
            height: 56px;

            margin-left: 16px;
            padding-left: 24px;
            background: #fff;
            display: flex;
            align-items: center;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            border: 1px solid #d7d7d7;
        }

        .fb__filter__title {
            padding-left: 35px;
            color: #000;
            font-size: 13px;
            font-weight: normal;
            text-align: left;
            background: #f9f9f9;
            border-right: 1px solid #d7d7d7;
        }

        .name__filter__text {
            width: 360px;
            height: 30px;
            margin-right: 10px;
            padding: 5px;
            border: 1px solid #d7d7d7;
            box-sizing: border-box;
        }

        .container {
            width: 100%;

            padding: 20px;
            margin: 0;
            margin-top: 10px;

        }

        .container form {
            background-color: #fff;
            padding: 20px;
            margin-bottom: 30px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        th,
        td {
            padding: 10px;
            text-align: left;
            border: 1px solid #ddd;
        }

        th {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f9f9f9;
            font-weight: normal;
        }

        input[type="text"],
        select,
        textarea {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 5px;
            margin-bottom: 10px;
            height: 43px;
        }

        input[type="button"] {
            background-color: #4caf50;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-right: 5px;
        }

        input[type="button"]:hover {
            background-color: #45a049;
        }

        .fb-filter__title {
            width: 150px;
        }

        .button-group {
            text-align: center;
            margin-top: 20px;
        }

        form button {
            background-color: #4caf50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-right: 10px;
        }

        button[type="reset"] {
            background-color: #f44336;
        }

        button:hover {
            opacity: 0.8;
        }

        .search__bar {}

        .flex__line {
            display: flex;
            align-items: center;
            gap: 20px;
        }

        .flex__line input[type="text"] {
            flex: 1;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .flex__line button {
            background-color: #4caf50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-left: 10px;
        }

        .flex__line button[type="reset"] {
            background-color: #f44336;
        }

        .flex__line button:hover {
            opacity: 0.8;
        }

        table tr {
            width: 100%;
            display: flex;
        }

        table td {
            flex: 1;
        }

        .fb-filter__select {
            width: 200px;
        }

        #result {
            padding: 20px;
            display: grid;
            grid-template-columns: repeat(9, 1fr);
            align-items: center;
            text-align: center;
            border: 1px solid #ddd;
            border-collapse: collapse;
            background-color: #fff;
        }

        #result div {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #ddd;
            padding: 8px;
            height: 50px;
            min-width: 50px;
        }

        #result .result__th {
            font-weight: 600;
            letter-spacing: -0.05em;
            background: #f8f8f8;
        }

        #result .movie__img {
            position: relative;
        }

        #result .movie__img img {
            height: 100%;
            object-fit: cover;
        }

        #result .movie__img.on img {
            width: 240px;
            height: auto;

            position: absolute;
            /* 이미지 2배 확대 */
            right: -300px;
            /* 오른쪽에 배치 */
            bottom: 0;
            /* 상단 정렬 */
            z-index: 10;
            /* 위에 표시되도록 */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            /* 그림자 추가 */
        }

        .btn-link {
            display: inline-block;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            text-align: center;
            text-decoration: none;
            border: 1px solid transparent;
            border-radius: 0.25rem;
            color: #0d6efd;
            background-color: transparent;
            border-color: #0d6efd;
        }

        .btn-link:hover {
            color: #0a58ca;
            text-decoration: none;
            background-color: #e9ecef;
            border-color: #0a58ca;
        }
    </style>
</head>

<body>

<header>
    <div class="header__top">
        <h1><img src="" alt=""><a href="/admin/dashboard">Admin</a></h1>
        <ul>
            <li><a href="#">서면롯데시네마</a></li>
            <li><a href="#">메인페이지</a></li>
            <li><a href="#">로그아웃</a></li>
        </ul>
    </div>
    <div class="header__bottom">
        <ul>
            <li><a href="/admin/dashboard">데시보드</a></li>
            <li><a href="/admin/member">회원관리</a></li>
            <li class="active"><a href="/admin/cinema">상영관등록</a></li>
            <li><a href="/admin/movie">영화관리</a></li>
            <li><a href="/admin/showtime">상영관관리</a></li>
            <li><a href="#">영화관관리</a></li>
        </ul>
    </div>
</header>

<main>
    <aside>
        <div class="side__icon">
            <div>영화관리</div>
        </div>

        <nav>
            <ul class="admin__info">
                <li>
                    <a href="#">영화등록</a>
                    <ul class="on">
                        <li><a href="#">최신영화</a></li>
                        <li class="active"><a href="/admin/movie/owned">보유중인영화</a></li>
                        <li><a href="#">상영중인영화</a></li>
                        <li><a href="#">영화배급받기</a></li>
                        <li><a href="/admin/movie">영화등록하기</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="point">
                <li>
                    <a href="#">상영관관리</a>
                    <ul>
                        <li><a href="#">상영관등록</a></li>
                        <li><a href="#">상영관스케줄등록</a></li>
                        <li><a href="#">좌석등록</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </aside>

    <section>
        <div class="sec__top">
            <div class="content__route">
                <div>영화관리</div>
            </div>
            <div class="content__title">
                <h3>보유중인영화</h3>
            </div>
        </div>
        <!--    ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------    -->
        <div class="container">
            <form action="/admin/movie/owned" method="get">
                <fieldset>
                    <table>
                        <tbody>
                        <tr>
                            <th class="fb-filter__title">영화 이름</th>
                            <td class="flex__line">
                                <input name="movieNm" type="text">
                            </td>
                            <th class="fb-filter__title">감독명</th>
                            <td class="flex__line">
                                <input type="text" name="director">
                            </td>
                        </tr>
                        <tr>
                            <th class="fb-filter__title">나라</th>
                            <td class="flex__line">
                                <input type="text" name="nationNm">
                            </td>
                            <th class="fb-filter__title">배급사</th>
                            <td class="flex__line">
                                <input type="text" name="company">
                            </td>
                        </tr>
                        <tr>
                            <th class="fb-filter__title">상영등급</th>
                            <td class="flex__line">
                                <select name="ratingGrade" class="fb-filter__select">
                                    <option value="" selected>-----</option>
                                    <option value="전체이용가">전체이용가</option>
                                    <option value="12세">12세이용가</option>
                                    <option value="15세">15세이용가</option>
                                    <option value="18세">18세이용가</option>
                                </select>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="button-group">
                        <button type="submit">검색</button>
                        <button type="reset">초기화</button>
                    </div>
                </fieldset>
            </form>

            <div id="result">
                <!-- 테이블 헤더 -->
                <div class="result__th"><strong>영화 이미지</strong></div>
                <div class="result__th"><strong>영화이름</strong></div>
                <div class="result__th"><strong>감독명</strong></div>
                <div class="result__th"><strong>나라</strong></div>
                <div class="result__th"><strong>배급사</strong></div>
                <div class="result__th"><strong>상영등급</strong></div>
                <div class="result__th"><strong>장르</strong></div>
                <div class="result__th"><strong>개봉일</strong></div>
                <div class="result__th"><strong>상태</strong></div>

                <!-- 첫 번째 데이터 행 -->
                {{#models}}
                    <div class="movie__img">
                        <img src="{{posterUrl}}" alt="" />
                    </div>
                    <div>{{movieNm}}</div>
                    <div>{{director}}</div>
                    <div>{{nationNm}}</div>
                    <div>{{company}}</div>
                    <div>{{ratingGrade}}</div>
                    <div>{{genreNm}}</div>
                    <div>{{openDt}}</div>

                    <div>
                        <a id="detailButton" class="btn-link" href="/admin/movie/owned/{{id}}">수정하기</a>
                    </div>

                {{/models}}

            </div>
        </div>
    </section>
</main>

<script>
    $(".movie__img").hover(
            function () {
                $(this).addClass("on"); // 이미지 확대 클래스 추가
            },
            function () {
                $(this).removeClass("on"); // 이미지 확대 클래스 제거
            }
    );
</script>
</body>

</html>