<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>영화 예매 페이지</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/reservation.css">
    <style>
        #main {
            width: 100%;
            background-color: aliceblue;
            margin-top: 20px;
        }

        .inner {
            width: 1200px;
            margin: 0 auto;
        }

    </style>
</head>
<body>

{{>layout/header}}

<!-- 메인에서 작업하면되 1200px 중앙정렬-->
<main id="main">
    <h2>예약 메인페이지</h2>
    <section id="sec1" class="inner">
        <div class="container" id="main-box">
            <!-- 사이드바 -->
            <div class="sidebar">
                <div>01 상영시간</div>
                <div>02 인원/좌석</div>
                <div>03 결제</div>
                <div>04 결제완료</div>
            </div>

            <!-- 메인 콘텐츠 -->
            <div class="main__content">
                <!-- 영화관 선택 -->
                <div class="section">
                    <div class="section__title">영화관</div>
                    <div class="content cinema__selection">
                        <div class="cinema__area" id="region-box">
                            {{#models}}
                                <div class="cinema__item" onclick="cinemas(`{{id}}`)" id="region-{{id}}">{{city}}</div>
                            {{/models}}
                        </div>
                        <div class="cinema__name" id="cinema-box">

                        </div>
                    </div>
                </div>

                <!-- 영화 선택 -->
                <div class="section">
                    <div class="section__title">영화 선택</div>
                    <div class="content" id="movie-box">

                    </div>
                </div>

                <!-- 날짜 선택과 상영시간 -->
                <div class="section">
                    <div class="section__title">날짜</div>
                    <div class="content date__container" id="date-box">

                    </div>
                    <div class="section__title">상영시간</div>
                    <div class="content">
                        <div class="movie__reservation" id="showtime-box">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</main>
<script>
    function goSeat() {
        location.href = "/seat"
    }

    async function cinemas(regionId) {
        $(".cinema__item").removeClass("selected");
        $(".cinema__detail__item").removeClass("selected");
        $(".movie__item").removeClass("selected");
        $(".date__item").removeClass("selected");
        $(".time__item").removeClass("selected");
        $("#region-" + regionId).addClass("selected");
        // 1. get 요청하면 body 없다.
        // 2. 한줄 한줄 실행하면서 테스트
        // 3. get 요청으로 데이터를 보내려면 주소에 담아 보낸다. (이유는? where 절에 쓸 것을 보내기 때문에)
        // 4. 콘솔에 로그찍을 때 ""+ 데이터 하면 문자열로 나온다 주의하자 무조건 콤마
        let response = await fetch("http://localhost:8080/reservation/region/" + regionId, {
            method: "get"
        });
        let data = await response.json();
        console.log("data ", data);
        console.log("body", data.body);
        console.log("cinemaList", data.body.cinemaList);

        let cinemaList = data.body.cinemaList;

        for (cinema of cinemaList) {
            $("#cinema-box").empty();
            let dom = makeBox(cinema);
            $("#cinema-box").append(dom);
        }
    }

    function makeBox(cinema) {
        return `<div onclick="movies(${cinema.id})" id="cinema-${cinema.id}"  class="cinema__detail__item">${cinema.name}</div>`;
    }

    async function movies(cinemaId) {
        $(".cinema__detail__item").removeClass("selected");
        $(".movie__item").removeClass("selected");
        $(".date__item").removeClass("selected");
        $(".time__item").removeClass("selected");
        $(`#cinema-${cinemaId}`).addClass("selected");
        console.log(cinemaId)
        let response = await fetch("http://localhost:8080/reservation/cinema/" + cinemaId, {
            method: "get"
        });
        let data = await response.json();
        console.log("data ", data);
        console.log("body ", data.body);

        $("#movie-box").empty();
        for (movie of data.body) {
            let dom = makeMovie(movie);
            $("#movie-box").append(dom);

        }
    }

    function makeMovie(movie) {
        console.log(movie.ratingGrade);
        return ` <div class="movie__item" id="movie-${movie.id}" onclick="dates(${movie.id})">
                        <img src="/img/${movie.ratingGrade}.png" >
                        <span>${movie.movieNm}</span>`;
    }

    function dates(movieId) {
        console.log("날짜 누를 때 ", movieId);
        $(".movie__item").removeClass("selected");
        $(".date__item").removeClass("selected");
        $(".time__item").removeClass("selected");
        $(`#movie-${movieId}`).addClass("selected");

        $("#date-box").empty();
        for (let i = 0; i < 6; i++) {
            let date = new Date();
            date.setDate(date.getDate() + i)
            $("#date-box").append(makeDate(date.getDate(), movieId));
        }
    }

    function makeDate(dates, movieId) {
        console.log("날짜 만들 때 ", dates, movieId);
        return `<div class="date__item" id="date-${dates}" onclick="time(${dates}, ${movieId})">${dates}</div>`
    }

    async function time(date, id) {
        $(".date__item").removeClass("selected");
        $(".time__item").removeClass("selected");
        $(`#date-${date}`).addClass("selected");
        let response = await fetch("http://localhost:8080/reservation/movie/" + date + "/" + id, {
            method: "get"
        });
        let data = await response.json();
        console.log("data ", data);
        console.log("body ", data.body);
        $("#showtime-box").empty();
        if (data.body.length === 0) {
            $("#showtime-box").append("<div>상영 시간이 없습니다.</div>");
        }
        for (showtime of data.body) {
            let dom = makeShowtime(showtime);
            $("#showtime-box").append(dom);
        }
    }


    function goNextPageSeat(showtimeId){

        let response = fetch("http://localhost:8080/api/reservation/goSeat/"+showtimeId,{

            method: "get"
        });
            window.location.href = "/api/seat";  // 페이지 리다이렉트
    }



    function makeShowtime(showtime) {
        return ` <div class="time__item" id="times-${showtime.id}" onclick="makeButton(${showtime.id})">
                                <div>${showtime.time}</div>
                            </div>`;
    }

    function makeButton(showtimeID) {
        $(".time__item").removeClass("selected");
        $(`#times-${showtimeID}`).addClass("selected");
        let dom = button(showtimeID);
        $("#button-box").empty();
        $("#main-box").after(dom);
        console.log(showtimeID);
    }


    function button(showtimeID) {
        return `<div id="button-box" class ="buttonbox">
<button class ="time__item" onclick="goNextPageSeat(${showtimeID})" >확인</button> </div>`
    }



    // <div class="seats">85/90</div>

</script>

{{>layout/footer}}
