<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>영화 예매 페이지</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/reservation.css">
    <style>
        #main{
            width: 100%;
            background-color: aliceblue;
            margin-top: 20px;
        }
        .inner{
            width: 1200px;
            margin: 0 auto;
        }

    </style>
</head>
<body>

{{>layout/header}}

<!-- 메인에서 작업하면되 1200px 중앙정렬-->
<main id="main">
    <h2>예약 메인페이지</h2>
    <section id="sec1" class="inner">
        <div class="container">
            <!-- 사이드바 -->
            <div class="sidebar">
                <div>01 상영시간</div>
                <div>02 인원/좌석</div>
                <div>03 결제</div>
                <div>04 결제완료</div>
            </div>

            <!-- 메인 콘텐츠 -->
            <div class="main__content">
                <!-- 영화관 선택 -->
                <div class="section">
                    <div class="section__title">영화관</div>
                    <div class="content cinema__selection">
                        <div class="cinema__area">
                            <div class="cinema__item">부산</div>
                            <div class="cinema__item">서울</div>
                        </div>
                        <div class="cinema__name">
                            <div class="cinema__detail__item">가산디지털</div>
                        </div>
                    </div>
                </div>

                <!-- 영화 선택 -->
                <div class="section">
                    <div class="section__title">영화 선택</div>
                    <div class="content">
                        <div class="movie__item">
                            <img src="img/num_15.png" alt="rating">
                            <span>베테랑2</span>
                        </div>
                        <div class="movie__item">
                            <img src="img/num_15.png" alt="rating">
                            <span>에이리언: 로큰롤</span>
                        </div>
                        <div class="movie__item">
                            <img src="img/num_15.png" alt="rating">
                            <span>러브로지</span>
                        </div>
                        <div class="movie__item">
                            <img src="img/num_15.png" alt="rating">
                            <span>대부</span>

                        </div>
                    </div>
                </div>

                <!-- 날짜 선택과 상영시간 -->
                <div class="section">
                    <div class="section__title">날짜</div>
                    <div class="content date__container">
                        <div class="date__item">4수</div>
                        <div class="date__item">5목</div>
                        <div class="date__item">6금</div>
                        <div class="date__item">7토</div>
                        <div class="date__item">8일</div>
                        <div class="date__item">9월</div>
                        <div class="date__item">10화</div>
                        <div class="date__item">11수</div>
                        <div class="date__item">12목</div>
                    </div>
                    <div class="section__title">상영시간</div>
                    <div class="content ">
                        <div class="movie__info">
                            <img src="img/num_15.png" alt="rating">
                            <span> 대부</span>
                            <div class="additional__info">2D 2관 일반관</div>
                        </div>
                        <div class="movie__reservation">
                            <div class="time__item">
                                <div>14:35</div>
                                <div onclick="goSeat()" class="seats">85 / 90</div>
                            </div>
                            <div class="time__item">
                                <div>17:00</div>
                                <div onclick="goSeat()"  class="seats low">20 / 90</div>
                            </div>
                        </div>
                        <div class="movie__info">
                            <img src="img/num_15.png" alt="rating">
                            <span> 대부</span>
                            <div class="additional__info">2D 2관 일반관</div>
                        </div>
                        <div class="movie__reservation">
                            <div class="time__item">
                                <div>14:35</div>
                                <div class="seats">85 / 90</div>
                            </div>
                            <div class="time__item">
                                <div>17:00</div>
                                <div class="seats low">20 / 90</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</main>
<script>
    function goSeat(){
        location.href ="/seat"
    }
</script>

{{>layout/footer}}
