#main {
    width: 100%;
    background-color: aliceblue;
    margin-top: 20px;
}

.inner {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
}

.section__wrapper {
    flex: 1;
    padding: 0;
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.section__wrapper:last-child {
    border-right: none;
}

.section__header {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    margin: 0;
    border-bottom: 1px solid #ccc;
}

.section__content {
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

.movie__info {
    text-align: left;
}

.poster__box {
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 200px;
    height: 300px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.poster__box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 이미지가 박스 크기에 맞춰 조정됨 */
}

.movie__title {
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 15px;
}

.movie__details {
    list-style: none;
    padding: 0;
}

.movie__details li {
    margin-bottom: 10px;
}

.movie__details strong {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

hr {
    margin: 20px 0;
    border: 0;
    border-top: 2px solid #444;
}

.payment__methods h5 {
    margin-bottom: 15px;
}

.payment__methods .btn {
    margin-bottom: 10px;
    padding: 10px 15px;
    font-size: 0.9em;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    color: #333;
}

.payment__methods .btn:hover {
    background-color: #e2e2e2;
}

.payment__options {
    margin-top: 20px;
}

.payment__options hr {
    margin: 10px 0;
    border: 0;
    border-top: 1px solid #444;
}

.final__payment__method {
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

.payment__options .btn {
    width: 48%;
    padding: 10px 15px;
    font-size: 0.9em;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    color: #333;
}

.payment__options .btn:hover {
    background-color: #e2e2e2;
}

.payment__summary {
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 0 0 5px 5px;
}

.payment__summary ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.payment__summary ul li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 1em;
}

.payment__summary ul li:last-child {
    margin-bottom: 0;
    font-weight: bold;
}

.payment__summary .btn {
    width: 100%;
    background-color: red;
    color: white;
    border: none;
    padding: 15px;
    font-size: 1em;
    margin-top: 10px;
    border-radius: 0 0 5px 5px;
}

.payment__summary .btn:hover {
    background-color: darkred;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.available__tickets {
    margin-top: 20px;
}

.available__ticket {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

.select__ticket {
    font-size: 20px;
    color: #007bff;
    cursor: pointer;
}

.select__ticket:hover {
    color: #0056b3;
}