<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>결제 메인페이지</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/css/payment.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
</head>
<body class="view-page"> <!-- 컨테이너 클래스 추가 -->

{{> layout/header}}

<!-- 메인 컨텐츠 -->
<main id="main">

    <div class="inner">
        <!-- 예약정보 섹션 -->
        <div class="section__wrapper">
            <div class="section__header">예약정보</div>
            <div class="section__content">
                <div class="movie__info">
                    <div class="poster__box">
                        <img src="{{paymentData.moviePosterUrl}}" alt="영화 포스터" class="img-fluid">
                    </div>
                    <h3 class="movie__title">{{paymentData.movieTitle}}</h3>
                    <ul class="movie__details">
                        <li>
                            <strong>일시</strong>
                            <div>{{paymentData.showtime}}</div>
                        </li>
                        <li>
                            <strong>영화관</strong>
                            <div>{{paymentData.cinemaName}} {{paymentData.screenName}}</div>
                        </li>
                        <li>
                            <strong>인원</strong>
                            <div>성인 {{paymentData.people}}</div>
                        </li>
                        <hr>
                        <li>
                            {{#seats}}
                            <strong>좌석</strong>
                            <div>{{seatNumber}}</div>
                                {{/seats}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- 결제수단 섹션 -->
        <div class="section__wrapper">
            <div class="section__header">결제수단</div>
            <div class="section__content">
                <div class="payment__methods">
                    <h5>할인/포인트</h5>
                    <!-- 관람권 버튼 -->
                    <button id="viewing-ticket-btn" class="btn btn-outline-secondary">관람권</button>
                    <!-- 할인권 버튼 -->
                    <button id="discount-ticket-btn" class="btn btn-outline-secondary">할인권</button>

                    <!-- 구분선 -->
                    <hr>
                    <div class="final__payment__method">최종 결제수단</div>
                    <div class="payment__options">
                        <button class="btn">신용카드</button>
                        <button class="btn">간편결제</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 결제하기 섹션 -->
        <div class="section__wrapper">
            <div class="section__header">결제하기</div>
            <div class="section__content">
                <div class="payment__summary">
                    <ul>
                        <li>상품금액 <span>{{paymentData.price}}원</span></li>
                        <li>할인금액 <span>{{discount}}원</span></li>
                        <li>결제금액 <span>{{paymentData.totalPrice}}원</span></li>
                    </ul>
                    <button class="btn" onclick="requestPay()">결제하기</button>
                </div>
            </div>
        </div>
    </div>
</main>

{{> layout/footer}}

<script>
    var IMP = window.IMP;
    IMP.init("imp28446715"); // 고객사 식별코드

    function requestPay() {
        var merchantUid = 'merchant_' + new Date().getTime();
        var orderUid = '{{paymentData.reservationId}}';
        var itemName = '{{paymentData.movieTitle}}';
        var paymentPrice = '{{paymentData.totalPrice}}';
        var buyerName = '{{paymentData.username}}';
        var buyerEmail = '{{paymentData.email}}';
        var phone = '{{paymentData.phone}}';

        console.log(merchantUid. orderUid, itemName, paymentPrice, buyerName, buyerEmail, phone);

        IMP.request_pay({
                    // m_redirect_url: "/payment",
                    pg : 'html5_inicis.INIpayTest',
                    pay_method : 'card',
                    merchant_uid: merchantUid, // 예매 번호
                    name : '{{paymentData.movieTitle}}', // 영화 제목
                    amount : paymentPrice, // 티켓 가격
                    buyer_email : buyerEmail, // 유저 이메일
                    buyer_name : buyerName, // 유저 이름
                    buyer_tel : phone, // 유저 연락처
                    buyer_postcode : '', // 임의의 값
                },
                function(rsp) {
                    if (rsp.success) {
                        console.log('결제 성공! imp_uid: ' + rsp.imp_uid + ', merchant_uid: ' + rsp.merchant_uid);
                        // 결제 성공 시: 결제 승인 또는 가상계좌 발급에 성공한 경우
                        // jQuery로 HTTP 요청
                        jQuery.ajax({
                            url: "/payment",
                            method: "POST",
                            headers: {"Content-Type": "application/json"},
                            data: JSON.stringify({
                                "impUid": rsp.imp_uid,      // 포트원 결제 고유번호
                                "merchantUId": rsp.merchant_uid,   // 주문번호 (예매번호) -> 서버로 reservationId 전달
                                "reservationId" : orderUid,
                                "price": paymentPrice       // 결제 금액
                            })
                        }).done(function (response) {
                            console.log(response);
                            alert('결제가 완료되었습니다.');
                            window.location.href = "/api/payment/success?reservationId=" + orderUid;
                        });
                    } else {
                        console.error("결제 실패: " + rsp.error_msg);
                        alert('결제 실패. 좌석 페이지로 이동합니다.');
                        window.location.href = "/seat"; // TODO: 결제 실패 페이지를 만들지, 좌석 페이지로 redirect 할지
                    }
                });
    }
</script>


</body>
</html>
